*{
	margin: 0;
	padding: 0;
}
#title{
	margin-top: 60px;
	margin-bottom: 70px;
}
table{
	margin-bottom: 50px;
	margin-top: 40px;
}
table th{
	text-align: center;
}
.urlori, .urlrac{
	width: 50%;
}
.supp{
	text-align: center;
}
.urlori:hover, .urlrac:hover{
	background-color: #F4F4F4;
}
.urlori a, .urlrac a{
	color: black;
}
.urlori a:hover, .urlrac a:hover{
	color: black;
}
.glyright{
	margin-right: 5px;
}
#formAdd{
	display: none;
}
#btnsubmit{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 200px;
}
.gly{
	color: red;
	padding-top: 2px;
}
.btnremove{
	border: 0px;
	background: none;
}
